@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 3%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  text-decoration: none;
}

/*color for 2 pages*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header-info {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min: width 1200px) {
  .header-info {
    max-width: 1200px;
  }
}

:root {
  --black-color: black;
  --white-color: #ffffff;
  --hover-color: #2196f3;
  --h-color: #212121;
  --bg-color: #2f303a;
  --border-solid: #ececec;
  --content-color: #757575;
  --color-boxshadow: rgba(0, 0, 0, 0.15);
  --our-team-bg: #f5f4fa;
  --button-color: #2196f3;
  --button-hover: #188ce8;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --box-shadow-one: rgba(0, 0, 0, 0.12);
  --box-shadow-two: rgba(0, 0, 0, 0.14);
  --box-shadow-three: rgba(0, 0, 0, 0.2);
  --footer-links-bg: rgba(255, 255, 255, 0.1);
  --for-small-pics: #afb1b8;
}

.social-links-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 10px;
}

.social-links-list:last-child {
  margin-right: 0px;
}

.icons-social-links {
  fill: var(--for-small-pics);
  width: 20px;
  height: 20px;
}

.buttons-social-links {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-social-links:hover, .buttons-social-links:focus {
  background-color: var(--hover-color);
}

.buttons-social-links:hover .icons-social-links,
.buttons-social-links:focus .icons-social-links {
  fill: var(--white-color);
}

.ourteam-joinus-sociallinks {
  margin-right: 10px;
}

.ourteam-joinus-sociallinks:last-child {
  margin-right: 0px;
}

.buttons-social-links-footer {
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--footer-links-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-social-links-footer:hover, .buttons-social-links-footer:focus {
  background-color: var(--hover-color);
}

.footer-social-links-li {
  margin-right: 10px;
}

.footer-social-links-li:last-child {
  margin-right: 0px;
}

.social-links-list-footer {
  display: flex;
  padding: 0px;
}

.icons-social-links-footer {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.what-are-wedoo-and-ourteam {
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  white-space: nowrap;
  color: var(--h-color);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .what-are-wedoo-and-ourteam {
    font-size: 36px;
  }
}

.lowwebstudio {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.36;
  /* identical to box height */
  display: flex;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.webstudio-low {
  color: white;
}

.webstudio {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  display: flex;
}

@media screen and (min-width: 1200px) {
  .webstudio {
    margin-right: 94px;
    font-size: 26px;
  }
}

.colorstudio-top {
  color: var(--black-color);
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.ul-menu {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0px;
}

.li-menu {
  display: flex;
  justify-content: space-between;
}

.header {
  border-bottom: solid var(--border-solid) 1px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  max-height: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    max-height: 80px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.head-cotacts {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .head-cotacts {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .head-cotacts {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.head-button {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--h-color);
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.head-button:hover, .head-button:focus {
  color: var(--hover-color);
}

.head-cotacts-li {
  justify-content: flex-start;
  margin-bottom: 10px;
}

.head-cotacts-li:last-child {
  margin-right: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 1200px) {
  .head-cotacts-li {
    margin-bottom: 0px;
  }
  .head-cotacts-li:last-child {
    margin-left: 30px;
  }
}

.active {
  color: var(--hover-color);
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 0.02em;
  font-size: 14px;
}

.active::after {
  display: block;
  position: absolute;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 2px;
  /*задаём ширину линии*/
  background-color: var(--button-color);
  /*задаём цвет линии*/
  content: "";
  height: 4px;
  top: 45px;
  width: 100%;
  transition: width;
  border-radius: 2px;
}

.li-head-button {
  margin-right: 50px;
  display: flex;
  position: relative;
}

.li-head-button:last-child {
  margin-right: 0px;
}

.contacts-top {
  font-family: Roboto;
  height: 14px;
  color: var(--content-color);
  white-space: nowrap;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: start;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-top:hover, .contacts-top:focus {
  color: var(--hover-color);
}

.contacts-top:hover .icons-contacts,
.contacts-top:focus .icons-contacts {
  fill: var(--hover-color);
}

@media screen and (min-width: 1200px) {
  .contacts-top {
    height: 16px;
  }
}

.active {
  color: var(--hover-color);
}

.icons-contacts {
  width: 10px;
  height: 12px;
  margin-right: 10px;
  fill: var(--content-color);
  justify-content: start;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-contacts:hover {
  fill: var(--hover-color);
}

@media screen and (min-width: 1200px) {
  .icons-contacts {
    height: 16px;
    width: 10px;
  }
}

.button-main {
  background: var(--button-color);
  box-shadow: 0px 4px 4px var(--color-boxshadow);
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  color: var(--white-color);
  width: 200px;
  height: 50px;
}

.button-main:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-content {
  text-align: center;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero-content {
    max-width: 696px;
  }
}

.hero-section {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4)), url("../img/hero-bg/hero-mob1x.png");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg/hero-mob@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg/hero-tablet1x.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg/hero-tablet@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg/hero-desktop1x.png);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg/hero-desktop@2x.png);
  }
}

.hero-container {
  display: flex;
  justify-content: center;
}

.texthello {
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .texthello {
    font-size: 44px;
  }
}

.menu-feature {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  justify-content: center;
}

.li-menu-feature {
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .li-menu-feature {
    flex-basis: calc((100% - 60px) /2);
  }
}

@media screen and (min-width: 1200px) {
  .li-menu-feature {
    flex-basis: calc((100% - 120px) /4);
  }
}

.feature {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.36;
  white-space: nowrap;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h-color);
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 10px;
}

.div-feature-icons {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: var(--our-team-bg);
  padding: 25px 102px 25px 102px;
}

.p-benefits-content {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--content-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.what-are-we-do-sec {
  display: none;
}

@media screen and (min-width: 1200px) {
  .what-are-we-do-sec {
    display: block;
  }
}

.whatarewedo-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.whatarewedo-list-li {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
}

.whatarewedo-list-li-div {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatarewedo-list-li-div-p {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.name-box-picture {
  width: 100%;
  height: 100%;
}

.sectionourteam {
  background-color: var(--our-team-bg);
}

.menu-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.name-box {
  background: var(--white-color);
  box-shadow: 0px 1px 3px var(--box-shadow-one), 0px 1px 1px var(--box-shadow-two), 0px 2px 1px var(--box-shadow-three);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
  margin-top: 30px;
  max-width: 450px;
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .name-box {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .name-box {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.div-name-box {
  padding: 24px 122px 24px 122px;
}

@media screen and (min-width: 768px) {
  .div-name-box {
    padding: 24px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .div-name-box {
    padding: 30px 32px 30px 32px;
  }
}

.name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  /* identical to box height */
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--h-color);
}

.position {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.36;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--content-color);
  margin-bottom: 16px;
}

.section-clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client-links {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 60px) / 2);
}

.client-links:hover .client-links-border .icons-clients,
.client-links:focus .client-links-border .icons-clients {
  fill: var(--hover-color);
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .client-links {
    flex-basis: calc((100% - 120px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-links {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.icons-clients {
  width: 106px;
  height: 60px;
  fill: var(--for-small-pics);
  display: flex;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-links-border {
  width: 100%;
  height: 92px;
  border: 1px solid var(--for-small-pics);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-links-border:hover, .client-links-border:focus {
  border: 1px solid var(--hover-color);
}

.client-links-border:focus .icons-clients {
  fill: var(--hover-color);
}

.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-con {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 481px) {
  .footer-con {
    max-width: 768px;
    padding-left: 76px;
    padding-right: 89px;
  }
}

@media screen and (min-width: 769px) {
  .footer-con {
    justify-content: space-between;
    align-items: baseline;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-con {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.addr-prop {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition-property: color;
  transition-duration: 250ms;
}

.footer-adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    align-items: flex-start;
  }
}

.li-footer {
  margin-top: 8px;
}

.footer-adress-prop {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
}

.footer-adress-prop:hover, .footer-adress-prop:focus {
  color: var(--hover-color);
}

.p-join-us {
  height: 16px;
  font-weight: 700;
  line-height: 1.36;
  margin-bottom: 20px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-left-side {
  flex-basis: calc((100% - 30px) / 2);
}

.footer-ul-left-side {
  display: flex;
  margin-left: -70px;
}

.footer-left-side-li {
  display: flex;
  margin-left: 70px;
  flex-basis: calc((100% - 140px) / 2);
}

.p-join-us {
  font-weight: 700;
  line-height: 1.36;
  color: var(--white-color);
  text-transform: uppercase;
}

.footer-right-side {
  flex-basis: calc((100% - 30px) / 2);
  padding-top: 12px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
  }
}

.footer-form-right-side-p {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-form-right-side-mailandbut {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-div-right-side-mail-label {
  color: var(--black-color);
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-div-right-side-mail-label {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-div-right-side-mail-label {
    width: 358px;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.footer-form-input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--footer-contacts);
  background-color: var(--bg-color);
  width: 100%;
}

.footer-form-right-side-button {
  padding: 10px 28px 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  color: var(--white-color);
  fill: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.footer-icon-telegram {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.div-button-and-adress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .div-button-and-adress {
    align-items: flex-start;
    flex-basis: calc((100% - 30px) / 2);
  }
}

.join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-us {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .join-us {
    margin: 0;
    align-items: start;
    flex-basis: calc((100% - 30px) / 2);
  }
}

.footer-two-sides {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-two-sides:first-child {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer-two-sides:last-child {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-two-sides {
    flex-basis: calc((100% - 30px) / 2);
  }
  .footer-two-sides:first-child {
    flex-direction: row;
    align-items: baseline;
  }
  .footer-two-sides:last-child {
    align-items: flex-start;
  }
}

.button-class {
  background: var(--our-team-bg);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  color: var(--black-color);
  cursor: pointer;
  transition-property: background, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-class:hover, .button-class:focus {
  background: var(--hover-color);
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px var(--box-shadow-one);
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}

.h3-pics {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  letter-spacing: 0.06em;
  color: var(--h-color);
  margin-bottom: 4px;
}

.p-pics {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--content-color);
}

.footer-portfolio {
  background: var(--bg-color);
}

.button-list {
  display: flex;
  justify-content: start;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.button-li {
  margin-right: 8px;
  margin-bottom: 15px;
}

.button-li:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 786px) {
  .button-li {
    margin-bottom: 0px;
  }
}

.pic-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 93px;
  }
}

.portfolio-box {
  background: var(--white-color);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-box:hover, .portfolio-box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-box {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-box {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.box-text {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-box-div {
  position: relative;
  overflow: hidden;
}

.portfolio-pic-hover-p {
  padding: 63px 24px 63px 24px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  z-index: 9;
  opacity: 0;
  transform: translateY(100%);
}

.pic-list-portfolio-a {
  position: relative;
}

.pic-list-portfolio-a:hover .image-overlay,
.pic-list-portfolio-a:focus .image-overlay {
  opacity: 1;
  transition-property: box-shadow, background, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.mob-head-button:active, .mob-head-button:hover, .mob-head-button:focus {
  color: var(--hover-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.close-btn:focus .close-button {
  fill: var(--hover-color);
}

.modal-button-close-prop {
  fill: var(--black-color);
  display: inline;
  width: 11px;
  height: 11px;
  margin: 0px;
}

.modal-btn-kostil {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-form .modal-form-btn {
  align-items: center;
}

.modal-form-btn {
  padding: 10px 56px 10px 56px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--button-color);
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  color: var(--white-color);
  margin-top: 30px;
}

.modal-checkbox-margin {
  margin-right: 8px;
}

.close-button {
  fill: var(--black-color);
  width: 11px;
  height: 11px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--white-color);
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.modal-form-head {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-color);
  margin-bottom: 12px;
}

.modal-form-field {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--content-color);
}

.modal-form-field + .modal-form-field {
  margin-top: 10px;
}

.modal-form-field-content {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--hover-color);
}

.modal-form-input:focus + .modal-input-icons {
  outline: none;
  border-color: var(--hover-color);
  fill: var(--hover-color);
}

.modal-input-icons {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  transition: background-color 250ms linear;
  fill: var(--h-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 6px;
  padding: 12px 16px 12px 16px;
  transition: border-color 250ms linear;
  margin-bottom: 20px;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--hover-color);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkboxarea {
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--content-color);
  display: flex;
  justify-content: start;
  align-items: center;
  letter-spacing: 0.03em;
}

.block-span {
  display: block;
  height: 10px;
}

.modal-form-message-text-area {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 6px;
  padding: 12px 16px 12px 16px;
  transition: border-color 250ms linear;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-form-message-text-area:focus {
  outline: none;
  border-color: var(--hover-color);
}

.modal-form-message-text-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-label::before {
  position: relative;
  content: "";
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #303030;
}

.modal-form-check:checked + .modal-form-check-label::before {
  background-color: var(--hover-color);
  fill: var(--white-color);
  border: 0px;
}

.modal-form-check-label {
  display: flex;
  align-items: center;
}

.checbox-wrapper {
  position: relative;
}

.modal-form-check {
  bottom: 0;
  left: 20px;
}

.check-mark {
  bottom: 3px;
  left: 3px;
  width: 11px;
  height: 8px;
  position: absolute;
  fill: var(--white-color);
}

.modal-form-check-label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--content-color);
}

@media screen and (min-width: 1200px) {
  .modal-form-break {
    display: none;
  }
}

.modal-form-check-link {
  color: var(--button-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #212121;
  background-color: #fff;
}

.mobile-menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.mobile-menu .link:hover,
.mobile-menu .link:focus {
  text-decoration: underline;
}

.icon-open-mob-menu {
  width: 24px;
  height: 16px;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle .icon-close-mob-menu:hover,
.menu-toggle .icon-close-mob-menu:active {
  fill: var(--hover-color);
}

.menu-toggle .icon-open-mob-menu:hover,
.menu-toggle .icon-open-mob-menu:active {
  fill: var(--hover-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px 48px 40px;
  background-color: var(--white-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu-open-icon {
  fill: black;
}

.link-mobile-menu {
  color: black;
}

.mob-head-links {
  display: flex;
  margin-top: 64px;
}

.mob-head-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.mob-li-head-button {
  margin-bottom: 32px;
}

.mob-li-head-button:last-child {
  margin-bottom: 0px;
}

.mob-head-contacts-a {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--content-color);
}

.mob-head-contacts-a:hover, .mob-head-contacts-a:focus {
  color: var(--hover-color);
}

.mob-head-contacts-li {
  margin-bottom: 32px;
}

.mob-head-contacts-li:last-child {
  margin-bottom: 0px;
}

.mob-head-links-li {
  border-left: 1px solid #000;
  padding-left: 10px;
  margin-right: 10px;
  border-color: rgba(33, 33, 33, 0.2);
}

.mob-head-links-li:first-child {
  border-left: 0;
}

.mob-head-links-a {
  color: var(--button-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
/*# sourceMappingURL=main.css.map */