.header {
  border-bottom: solid var(--border-solid) 1px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  max-height: 60px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    max-height: 80px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and(min-width: 1200px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 1200px;
    margin: 0px;
  }
}

.head-cotacts {
  display: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.head-button {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--h-color);
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.head-cotacts-li {
  justify-content: flex-start;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    &:last-child {
      margin-left: 30px;
    }
  }
}

.active {
  color: var(--hover-color);
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 0.02em;
  font-size: 14px;
  &::after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0; /*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: var(--button-color); /*задаём цвет линии*/
    content: "";
    height: 4px;
    top: 45px;
    width: 100%;
    transition: width;
    border-radius: 2px;
  }
}

.li-head-button {
  margin-right: 50px;
  display: flex;
  position: relative;
  &:last-child {
    margin-right: 0px;
  }
}

.contacts-top {
  font-family: Roboto;
  height: 14px;
  color: var(--content-color);
  white-space: nowrap;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: start;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
  &:hover .icons-contacts,
  &:focus .icons-contacts {
    fill: var(--hover-color);
  }
  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}

.active {
  color: var(--hover-color);
}

.icons-contacts {
  width: 10px;
  height: 12px;
  margin-right: 10px;
  fill: var(--content-color);
  justify-content: start;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: var(--hover-color);
  }
  @media screen and (min-width: 1200px) {
    height: 16px;
    width: 10px;
  }
}
