.sectionourteam {
    background-color: var(--our-team-bg);
  }
  
  .menu-people {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .name-box {
    background: var(--white-color);
    box-shadow: 0px 1px 3px var(--box-shadow-one),
      0px 1px 1px var(--box-shadow-two), 0px 2px 1px var(--box-shadow-three);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
  }
  
  .div-name-box {
    padding: 30px 32px 30px 32px;
  }
  
  .name {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.36;
    /* identical to box height */
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--h-color);
  }
  
  .position {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.36;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--content-color);
    margin-bottom: 16px;
  }