.section-clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client-links {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 60px) / 2);
  &:hover .client-links-border .icons-clients,
  &:focus .client-links-border .icons-clients {
    fill: var(--hover-color);
  }
  @media screen and (min-width: 769px) and (max-width: 1199px) {
    flex-basis: calc((100% - 120px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.icons-clients {
  width: 106px;
  height: 60px;
  fill: var(--for-small-pics);
  display: flex;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-links-border {
  width: 100%;
  height: 92px;
  border: 1px solid var(--for-small-pics);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--hover-color);
  }
}

.client-links-border:focus .icons-clients {
  fill: var(--hover-color);
}
