.filter-container {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter {
  @include flexing($jus-cont: flex-start);
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter-item {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
