.lowwebstudio {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.36;
    /* identical to box height */
    display: flex;
    letter-spacing: 0.03em;
    color: var(--hover-color);
  }
  
  .webstudio-low {
    color: white;
  }