.webstudio {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    color: var(--hover-color);
    display: flex;

    @media screen and (min-width: 1200px) {
      margin-right: 94px;
      font-size: 26px;
    }
  }
  
  .colorstudio-top {
    color: var(--black-color);
  
  }