.webstudio {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    color: var(--hover-color);
    display: flex;
    margin-right: 94px;
  }
  
  .colorstudio-top {
    color: var(--black-color);
  
  }