.what-are-wedoo-and-ourteam {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    white-space: nowrap;
    color: var(--h-color);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }