.button.hero {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  min-width: 200px;

  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  @include shadow();

  &:hover,
  &:focus {
    background-color: var(--hover-button-color);
  }
}
