@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --black-color: black;
  --white-color: #ffffff;
  --hover-color: #2196f3;
  --h-color: #212121;
  --bg-color: #2f303a;
  --border-solid: #ececec;
  --content-color: #757575;
  --color-boxshadow: rgba(0, 0, 0, 0.15);
  --our-team-bg: #f5f4fa;
  --button-color: #2196f3;
  --button-hover: #188ce8;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --box-shadow-one: rgba(0, 0, 0, 0.12);
  --box-shadow-two: rgba(0, 0, 0, 0.14);
  --box-shadow-three: rgba(0, 0, 0, 0.2);
  --footer-links-bg: rgba(255, 255, 255, 0.1);
  --for-small-pics: #afb1b8;
}