.location.lower-contact {
  color: var(--secondary-text-color);
}

.lower-contact {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
