.icon-first::before {
  background-image: url("../images/svg/benefit-section/img1.svg");
}

.icon-second::before {
  background-image: url("../images/svg/benefit-section/img2.svg");
}

.icon-third::before {
  background-image: url("../images/svg/benefit-section/img3.svg");
}

.icon-fourth::before {
  background-image: url("../images/svg/benefit-section/img4.svg");
}
